main
  section.container
    .subheader
      h1 Healthcare Professionals

  section.container
    .white
      .row
        .col-sm-2
          .side-nav
            ul.isonea-side-nav
              li
                a(href="#{site_url}/publications") Publications
              li
                a(href="#{site_url}/videos") Videos
        .col-sm-5
          .main-copy
            h1.lead The need for objective asthma monitoring data
            
            p Two thirds of Australians with asthma do not monitor their condition, thus often underestimating the severity of symptoms and fail to correctly adhere to treatment plans.
            p Parental monitoring poses even more challenges.  Research has found parental reports of wheeze are unreliable up to 55% of the time, making it difficult for doctors to create an accurate overall picture of the child’s condition.
            
            h1 Introducing a breakthrough in asthma management

            p AirSonea™ is the world’s first handheld device that turns a patient’s smartphone into a portable wheeze monitor. When combined with the AsthmaSense® smartphone app, AirSonea provides patients with a comprehensive monitoring system to record and track wheeze symptoms, events, medication usage, and environmental factors.
            p With regular use by your patient, AirSonea provides accurate wheeze measurement and documentation, with nothing ‘lost in translation’ and no patient guesswork.
            
        .col-sm-5
          .papers
            a(href="#{ site_url }/webinar", alt="Physician_Webinar")
              img.center.img-responsive(src="assets/images/PhysWebinar.jpg", alt="PhysWebinar")
            a(href="#{ site_url }/assets/publications/AIR-Report-2013-FINAL.pdf", alt="AirStudy", target="_blank")
              img.center.img-responsive(src="assets/images/AIRStudy.jpg" alt="AIRStudy")
            a(href="#{ site_url }/assets/publications/ISN-AirSonea-Medical-Evidence-White-Paper-081413.docx", alt="Evidence", target="_blank")
              img.center.img-responsive(src="assets/images/EvidencePapers.jpg" alt="EvidencePapers" width="316" height="182")