header
  .container
    .row
      .col-sm-6
        .logo
          a(name='header-logo', href='http://isoneamed.com')
            img(src="#{ site_url }/assets/images/iSoneaLogo_small.png")
          p.tagline Sound Asthma Management
      .col-sm-6
        ul.social-links
          li.facebook
            a(href='https://www.facebook.com/AsthmaSense')
              img(src="#{ site_url }/assets/images/facebook_dark.png")
          li.twitter
            a(href='https://twitter.com/AsthmaSense')
              img(src="#{ site_url }/assets/images/twitter02_dark.png")
          li.in
            a(href='http://www.linkedin.com/company/2497200?trk=tyah')
              img(src="#{ site_url }/assets/images/in_dark.png")
          li.youtube
            a(href='http://www.youtube.com/soundasthma')
              img(src="#{ site_url }/assets/images/youtube_icon.png")
          li.contact
            a(href='https://sense.soundasthma.com/user/login') 
              img(src="#{ site_url }/assets/images/cloud-btn.png")
  
    nav.navbar.navbar-isonea(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#primary-nav")
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #primary-nav.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='http://isoneamed.com/') Home
            li.dropdown 
              a.dropdown-toggle(href="#", data-toggle="dropdown") Products <span class="glyphicon glyphicon-chevron-down"></span>
              ul.dropdown-menu
                li
                  a(href='http://isoneamed.com/products/productstechnolog/') Technology
                li
                  a(href='http://isoneamed.com/products/software/') Software
                li
                  a(href='http://isoneamed.com/products/devices/') Devices
                li
                  a(href='http://isoneamed.com/products/legacy-products/') Legacy Products
                li
                  a(href='http://isoneamed.com/products/patents/') Patents
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Healthcare <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/healthcare/mhealth-trends/') mHealth Trends
                  li
                    a(href='http://isoneamed.com/healthcare/clinical-perspectives/') Clinical Perspectives
                  li
                    a(href='http://isoneamed.com/healthcare/publications/') Publications
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Investors <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/investors/asx/') Corporate Announcements
                  li
                    a(href='http://isoneamed.com/investors/quarterly-reports/') Quarterly and Annual Reports
                  li
                    a(href='http://isoneamed.com/investors/analyst-reports/') Analyst Reports
                  li
                    a(href='http://isoneamed.com/investors/corporate-presentations/') Corporate Presentations
                  li
                    a(href='http://isoneamed.com/investors/newsletter/') Newsletter
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") News <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/news/in-the-media/') In the Media
                  li
                    a(href='http://isoneamed.com/news/videos/') Videos
                  li
                    a(href='http://press.isoneamed.com') Pressroom
              
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") About <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/about/about-us/') About Us
                  li
                    a(href='http://isoneamed.com/about/board-of-directors/') Board of Directors
                  li
                    a(href='http://isoneamed.com/about/management/') Management
              li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Contact <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/contact/linked-in-profile/') LinkedIn
                  li
                    a(href='http://isoneamed.com/contact/contact-info/') Contact Info
              
               li.dropdown 
                a.dropdown-toggle(href="#", data-toggle="dropdown") Careers <span class="glyphicon glyphicon-chevron-down"></span>
                ul.dropdown-menu
                  li
                    a(href='http://isoneamed.com/careers/isoneas-vision/') iSonea’s Vision
                  li
                    a(href='http://isoneamed.com/careers/culture/') Culture
                  li
                    a(href='http://isoneamed.com/careers/join-us/') Join Us
            